[package]
name = "esp-hal-mfrc522"
version = "0.1.1"
authors = ["filipton <filipton12@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Simple mfrc522 library for esp-hal (can be used on any hal that implements embedded-hal-async)"

[lib]

[dependencies]
embedded-hal = "1.0.0"
embedded-hal-async = "1.0.0"
heapless = "0.8.0"
log = { version = "0.4.22" }
embassy-time = { version = "0.3.2", optional = true }

[features]
default = []
embassy-time = ["dep:embassy-time"]
